body {
  background-color: rgb(241, 241, 241);
  max-width: 800px;
}

.square {
  background-color: lightblue;

  max-width: 100%;
  width: 400px;
  height: 500px;
  max-height: 100%;

  padding: 10px;
  margin: 5px;
}

article {
  display: flex;

  justify-content: center;
}

img {
  max-width: 400px;
}

#cellphoneImage {
  background-color: white;
}

#content {
  padding: 26px;
  max-height: 344px;
  max-width: 257px;
  min-height: 344px;
  height: 344px;
  width: 257px;

  background-color: white;
}

#title {
  font-family: sans-serif;
  text-align: center;

  display: block;

  margin: 22px auto 12px;
}

.credentials {
  display: flex;
  height: 30px;
  width: 200px;
  margin: 20px;
  padding-left: 10px;

  border-radius: 7px;
  background: rgb(240, 239, 239);
}

#entrar {
  display: flex;
  height: 30px;
  width: 216px;
  margin: 20px;
  padding-left: 10px;
  align-items: center;
  justify-content:center;

  background-color: rgba(63, 180, 248, 0.938);
  color: white;
  border-radius: 7px;
  border: 0px;

}

#or {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.loginWith {
  text-align: center;
  margin: 20px auto;
}

#withoutAccount {
  margin: 20px;
  background-color: white;
  height: 44px;
  width: 212px;
  display: flex;
  justify-content: center;
  
}